{% extends 'base.html' %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header bg-dark text-light">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <p class="text-light">Don't have an account? <a href="{{ url_for('registration') }}" class="text-light">Register here</a></p>
        </div>
    </div>
{% endblock %}
